.footer-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 27px;
}

.footer__logo {
  margin-bottom: 50px;
}

.footer__text {
    @extend %roboto-mono-regular;
  text-align: center;
  margin-bottom: 50px;
  min-width: 275px;
  max-width: 430px;
}

.footer__icon {
  margin-bottom: 50px;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px 0;
  margin-bottom: 30px;
}

.footer__list {
  @extend %roboto-mono-regular;
  text-align: center;
}

.footer__item > span {
  display: block;
  margin-top: 35px;
}

.footer__item:not(:last-child) {
  margin-bottom: 15px;
}

.footer__link {
  position: relative;
  color: $text__color;
}

.footer__link:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: $text__color;
  bottom: -3px;
  left: 0;
}

.footer__copyright {
  font-size: 16px;
}

@media (min-width: $min__width-laptops) {
  .footer-container {
  padding: 0 50px;
}

.footer__logo {
  margin-bottom: 130px;
}

.footer__icon-logo {
  width: 117px;
  height: 44px;
}

.footer__text {
  margin-bottom: 30px;
}

.footer__icon {
  margin-bottom: 0;
}

 .footer__wrapper {
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: flex-end;
  gap: 0;
  align-self: stretch;
  margin-bottom: 50px
 }

 .footer__list--mod {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 }
  .footer__list--right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
 }

 .footer__icon {
  width: 50px;
  height: 50px;
}

 .footer__list  {
  font-size: 16px;
 }

 .footer__item > span {
  margin-top: 0;
 }
}
