.logo__images {
  @media (min-width: $min__width-laptops) {
    width: 117px;
    height: 44px;
  }

  &--header {
    @media (min-width: $min__width-laptops) {
      width: 70px;
      height: 26px;
    }
  }
}
