.navigation {
  display: none;
}

.navigation.navigation--is-open {
  display: flex;
  flex-direction: column;
  background-color: $bg__color;
  min-height: 52vh;
  position: absolute;
  z-index: 2;
  right: 65px;
  left: 8px;
  top: 10px;
  padding: 15px;
  border: 1px solid $border__color;
  border-radius: 5px;
}

.navigation__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: auto;
}

.navigation__link {
  position: relative;
  @extend %roboto-mono-regular;
  color: $text__color;
}

.navigation__link:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: $text__color;
  bottom: -3px;
  left: 0;

}

.navigation__user-menu {
  margin-left: 5px;
}

 .navigation__button {
    width: 260px;
  }

@media (min-width: $min__width-small) {
  .navigation__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: auto;
  }
}

@media (min-width: $min__width-tablet) {
  .navigation {
    display: flex;
    align-items: center;
    position: static;
    background-color: transparent;
    padding: 0;
  }

  .navigation__button {
    display: none;
  }

  .navigation__list {
    align-self: center;
    margin-bottom: 0;
    gap: 0;
    min-height: 60px;
    border: 1px solid $border__color-another;
    border-radius: 4px;
  }

  .navigation__item {
    align-self: center;
  }

  .navigation__link {
    padding: 20px 20px;
  }
}

@media (min-width: $min__width-laptops) {
  .navigation__link {
    padding: 20px 30px;

    &:hover,
    &:active {
      opacity: 0.7;
    }
  }
}
