.navigation {
  display: none;

  &--is-open {
    position: absolute;
    top: 10px;
    right: 65px;
    left: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    min-height: 52vh;
    padding: 15px;
    background-color: $bg__color;
    border: 1px solid $border__color;
    border-radius: 5px;
  }

  @media (min-width: $min__width-tablet) {
    display: flex;
    align-items: center;
    position: static;
    padding: 0;
    background-color: transparent;
  }
}

.navigation__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: auto;

  @media (min-width: $min__width-small) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (min-width: $min__width-tablet) {
    align-self: center;
    min-height: 60px;
    margin-bottom: 0;
    gap: 0;
    border: 1px solid $border__color-another;
    border-radius: 4px;
  }
}

.navigation__item {
  @media (min-width: $min__width-tablet) {
    align-self: center;
  }
}

.navigation__link {
  position: relative;
  color: $text__color;
  @extend %roboto-mono-regular;

  &::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $text__color;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }

  @media (min-width: $min__width-tablet) {
    padding: 20px;
  }

  @media (min-width: $min__width-laptops) {
    padding: 20px 30px;

    &:hover,
    &:active {
      opacity: 0.7;
    }
  }
}

.navigation__user-menu {
  margin-left: 5px;
}

.navigation__button {
  width: 260px;

  @media (min-width: $min__width-tablet) {
    display: none;
  }
}
