.subtitle {
  @extend %roboto-mono-regular;
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: $main-text__color;
}

.subtitle::after {
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  background-color: $border__color;
  bottom: -8px;
}

@media(min-width: $min__width-tablet) {
  .subtitle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 16px;
  }
}
