.user-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 92px;
  min-height: 60px;
  border: 1px solid $border__color;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  padding: 0 5px;
}

.user-menu__point {
  display: flex;
  width: 4px;
  height: 4px;
  background-color: $text__color;
  border-radius: 1px;
}

.user-menu--active {
  display: none;

  @media (min-width: $min__width-laptops) {
    display: flex;

    &:hover,
    &:active {
      opacity: 0.7;
    }
  }
}
