.button {
  position: relative;
  background-color: transparent;
  width: 255px;
  border: none;
  margin: 0 auto;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;
    transition: background-color 0.5s ease;
  }

  &::before {
    top: 4px;
    right: 4px;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border-radius: 50%;
  }

  &::after {
    top: -4px;
    right: -3px;
    width: 44px;
    height: 44px;
    mask-image: url('../images/icons/icon_arrow_down.svg');
    mask-repeat: no-repeat;
    background-color: $text__color;
    transform: rotate(-90deg);
  }

  &:hover {
    &::before {
      background-color: $text__color;
    }
    &::after {
      background-color: $bg__color;
    }
  }

  &__icon {
    height: auto;

    text {
      @extend %inter__tight-medium;
      font-size: 14px;
      fill: $bg__color;
    }
  }

  &:hover,
  &:active {
    path {
      fill: transparent;
      stroke: $border__color-button;
      transition: fill 0.5s ease;
    }

    .button-icon--arrow,
    text {
      fill: $text__color;
      transition: fill 0.5s ease;
    }
  }

  @media (min-width: $min__width-tablet) {
    width: 320px;

    &::before {
      top: 5px;
      right: 5px;
      width: 53px;
      height: 53px;
    }

    &::after {
      top: -6px;
      right: -7px;
      width: 53px;
      height: 53px;
    }
  }
}
