%inter__tight-regular {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 400;
};

%inter__tight-medium {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
}

%roboto-mono-regular {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
}
