$bg__color: #000000;
$border__color: rgba(255, 255, 255, 0.15);
$border__color-another: rgba(255, 255, 255, 0.10);
$border__color-button: rgba(255, 255, 255, 0.20);
$text__color: #FFFFFF;

$min__width-small: 590px;
$min__width-tablet: 768px;
$min__width-laptops: 992px;
$min__width-laptops: 1200px;
